*{
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1440px;
    margin: auto;
}
.image1{
    height: 59em;
    margin-top: 6em;
}
#active:hover {
    background: #FE984E;
}
#active:active {
    background: #E35F00;
}
#active {
    background: #FF6B00;
}

#project:hover {
    background: #C5E9DA;
}
#project {
    background: #36B37E;
}
#project:active {
    background: #28855D;
}

#touch:hover {
    background: #FE984E;
}
#touch {
    background: #FF6B00;
}
#touch:active {
    background: #E35F00;
}
.bare{
    background: black;
    width: 5em;
    height: 0.4em;
    border-radius: 10px;
    margin-left: 10em;
    display: none;
}
.section1{
    margin-top: 1em;
}
.boite3 {
    background: #EBF0EE;
    width: 26em;
    height: 22em;
    border-radius: 10px;
}
#lastname{
    width: 19.4rem;
}
#presentation{
    padding-top: 15em;
}
.liens, .btn1{
    margin-top: 6em;
}
.work {
    margin-top: 5em;
}
.card-img-top {
    border-radius: 15px;
}
#bordure {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
#md {
    display: none;
}
#liens-md {
    display: none;
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid red;
}

@media screen and (max-width: 1440px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body {
        max-width: 1440px;
        margin: auto;
    }
    #presentation{
        padding-top: 15em;
    }
    .image1{
        height: 59em;
        margin-top: 6em;
    }
    .btn1{
        width: 30rem;
    }
    #lastname{
        width: 19.4rem;
    }
    .boite3{
        width: 23rem;
    }
    .section1 {
        height: 100vh;
    }
    .liens, .btn1{
        margin-top: 6em;
    }
    #section3, #section4, #footer {
        margin-top: 13em;
    }
}

@media screen and (max-width: 1400px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body {
        max-width: 1400px;
        margin: auto;
    }
    .image1{
        height: 45em;
    }
    .section1 {
        height: 70vh;
    }
}
@media screen and (max-width: 1400px) {
   .work {
    margin-top: 7em;
   }
}

@media screen and (max-width: 1024px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body {
        max-width: 1024px;
        margin: auto;
    }
    .work{
        margin-top: 8em;
    }
    #colonnes1, #colonnes2 {
        width: 25em;
    }
    .btn1{
        width: 25rem;
    }
    .image1 {
       height: 38em;
    }
     #presentation{
        padding-top: 8em;
    }
    #lastname{
        width: 13.8rem
    }
    .liens, .btn1{
        margin-top: 1em;
    }
}

@media screen and (max-width: 1199px) {
    #colonnes1, #colonnes2, #colonnes3 {
        margin: 29px;
    }
}
@media screen and (max-width: 768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .section1{
        height: 70vh;
    }
    .image1 {
       margin: 0px;
       height: 28em;
    }
    #colonnes1, #colonnes2, #colonnes3 {
        margin: 12px;
    }
    .work{
        margin-top: 20em;
    }
    .boite3{
        
    }
}
@media screen and (max-width: 425px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .section1{
        height: 100vh;
    }
    #Get{
        text-align: center;
    }
    .image1 {
        height: 38vh;
    }
    #bordure {
        border-left: none;
        border-right: none;
    }
    .bare{
        display: inline-block;
    }
    .work{
        margin-top: 1em;
    }
    .boite3{
        width: 25rem;
    }
    #section3, #section4, #footer {
        margin-top: 3em;
    }
    #md {
        display: block;
    }
    #liens-lg {
        display: none;
    }
    #liens-md {
        display: block;
    }
}
@media screen and (max-width: 375px) {
    .image1 {
      height: 33vh;
    }
    .bare{
        margin-left: 8.5em;
    }
    .boite3 {
        width: 22rem;
    }
}
@media screen and (max-width: 320px) {
    .image1 {
      height: 27vh;
    }
    .boite3 {
        width: 19rem;
    }
}
